<div class="grid-container">
    <h1 class="mat-h1 title">Clientes</h1>
    <mat-grid-list cols="2">
      <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols">
        <mat-card class="card-conteiner">
          <mat-card-header>
          </mat-card-header>
          <mat-card-content class="card-content">
            <div>
                  
                <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    <ng-container matColumnDef="position">
                      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
                    </ng-container>
                  
                    <ng-container matColumnDef="name">
                      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                    </ng-container>
                  
                    <ng-container matColumnDef="weight">
                      <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
                    </ng-container>
                  
                    <ng-container matColumnDef="symbol">
                      <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
                    </ng-container>
                  
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                  </mat-table>
                  
                  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

                 <!--  <mat-paginator [length]="totalCount" [pageSize]="pageSize" (page)="onPageChange($event)"></mat-paginator> -->
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>