<div class="grid-container">
    <h1 class="mat-h1 title">Clientes</h1>
    <mat-grid-list cols="2">
      <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols">
        <mat-card class="card-conteiner">
          <mat-card-header>
          </mat-card-header>
          <mat-card-content class="card-content">
            <div class="table-container">
               
               

                <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    <!-- Definição das colunas da tabela -->
                    <ng-container matColumnDef="position">
                      <mat-header-cell *matHeaderCellDef> id </mat-header-cell>
                      <mat-cell *matCellDef="let item"> {{item.position}} </mat-cell>
                    </ng-container>
                  
                    <ng-container matColumnDef="name">
                      <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
                      <mat-cell *matCellDef="let item"> {{item.name}} </mat-cell>
                    </ng-container>
                  
                    <ng-container matColumnDef="weight">
                      <mat-header-cell *matHeaderCellDef> Sobrenome </mat-header-cell>
                      <mat-cell *matCellDef="let item"> {{item.weight}} </mat-cell>
                    </ng-container>
                  
                    <ng-container matColumnDef="symbol">
                      <mat-header-cell *matHeaderCellDef> Aniversario </mat-header-cell>
                      <mat-cell *matCellDef="let item"> {{item.symbol}} </mat-cell>
                    </ng-container>
                  
                    <!-- Linha de cabeçalho da tabela -->
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  
                    <!-- Linhas de dados da tabela -->
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                  </mat-table>
                  <div class="paginator-content">
                    <mat-paginator  [length]="totalCount" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPageChange($event)" showFirstLastButtons></mat-paginator>
                </div>
                 
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>