.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
  background-color: #000000;
  color: #ffff00;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.header{
  background-color: #000000;
  color: #ffff00;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}